<div class="row">
  <div class="col-sm-6">
    <h2><?php echo $text_returning_customer; ?></h2>
    <p><?php echo $text_i_am_returning_customer; ?></p>
    <div class="form-group">
      <label class="control-label" for="input-email"><?php echo $entry_telephone; ?><span
          style="color:red;font-size:14px;"> (يجب أن تشمل رمز البلد في رقم الجوال، ورقم يبدأ ب 00)</span></label>
      <input type="text" name="telephone" value="" placeholder="00966xxxxxxxxx" id="input-email" class="form-control" />
    </div>
    <div class="form-group">
      <label class="control-label" for="input-password"><?php echo $entry_password; ?></label>
      <input type="password" name="password" value="" placeholder="<?php echo $entry_password; ?>" id="input-password"
        class="form-control" />
      <a href="<?php echo $forgotten; ?>"><?php echo $text_forgotten; ?></a></div>
    <input type="button" value="<?php echo $button_login; ?>" id="button-login"
      data-loading-text="<?php echo $text_loading; ?>" class="btn btn-primary" />
    <input type="button" value="إنشاء حساب" id="button-account" data-loading-text="<?php echo $text_loading; ?>"
      class="btn btn-primary" style="display:none"/>
  </div>
  <div class="col-sm-6">
    <!--<h2><?php echo $text_new_customer; ?></h2>
    <p style="display:none"><?php echo $text_checkout; ?></p>-->
    <div class="radio" style="display:none">
      <label>
        <?php if ($account == 'register') { ?>
        <input type="radio" name="account" value="register" checked="checked" />
        <?php } else { ?>
        <input type="radio" name="account" value="register" />
        <?php } ?>
        <?php echo $text_register; ?>
      </label>
    </div>
    <?php if ($checkout_guest) { ?>
    <div class="radio">
      <label>
        <?php if ($account == 'guest') { ?>
        <input type="radio" name="account" value="guest" checked="checked" />
        <?php } else { ?>
        <input type="radio" name="account" value="guest" />
        <?php } ?>
        <?php echo $text_guest; ?>
      </label>
    </div>
    <?php } ?>
    <!-- <p><?php echo $text_register_account; ?></p>
    <input type="button" value="<?php echo $button_continue; ?>" id="button-account" data-loading-text="<?php echo $text_loading; ?>" class="btn btn-primary" />
    <input type="button" value="إنشاء حساب" id="button-account" data-loading-text="<?php echo $text_loading; ?>" class="btn btn-primary" />-->
  </div>

</div>