<?php if ($error_warning) { ?>
<div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?></div>
<?php } ?>
<?php if ($shipping_methods) { ?>
<p><?php echo $text_shipping_method; ?></p>
<?php foreach ($shipping_methods as $shipping_method) { ?>
<!-- 
<p class='hiClass'><strong><?php echo $shipping_method['title']; ?></strong></p> 
-->


<p style="
    display: inline-block;
    background-image: url(<?php echo $shipping_method['image']; ?>); 
    background-size: contain;
    width: 160px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
"><strong><?php echo $shipping_method['title']; ?></strong></p>

<?php if (!$shipping_method['error']) { ?>
<?php foreach ($shipping_method['quote'] as $quote) { ?>
<div class="radio">
  <label>
    <?php if ($quote['code'] == $code || !$code) { ?>
    <?php $code = $quote['code']; ?>
    <input type="radio" name="shipping_method" value="<?php echo $quote['code']; ?>" checked="checked" />
    <?php } else { ?>
    <input type="radio" name="shipping_method" value="<?php echo $quote['code']; ?>" />
    <?php } ?>
    <?php echo $quote['title']; ?> - <?php echo $quote['text']; ?></label>
</div>
<?php } ?>
<?php } else { ?>
<div class="alert alert-danger"><?php echo $shipping_method['error']; ?></div>
<?php } ?>
<?php } ?>
<?php } ?>
<p><strong><?php echo $text_comments; ?></strong></p>
<p>
  <textarea name="comment" rows="8" class="form-control"><?php echo $comment; ?></textarea>
</p>
<div class="buttons">
  <div class="pull-right">
    <!--<input type="button" value="<?php echo $button_continue; ?>" id="button-shipping-method" data-loading-text="<?php echo $text_loading; ?>" class="btn btn-primary" />-->
    <input type="button" value="التالي" id="button-shipping-method" data-loading-text="<?php echo $text_loading; ?>" class="btn btn-primary" /><label style="float: left;margin-top: 10px;margin-left: 5px;">إعتماد طريقة الشحن</label>
  </div>
</div>
