#quickview_product .product-center div p span {
    /*font-family: 'Tajawal', sans-serif!important;*/
    font-family: 'Markazi Text', serif;
}

/*.cart-total table tr:nth-child(3) td{
 display: none;
}*/

.rtl .social {
    float: left;
}

.rtl .owl-carousel .owl-item {
    float: right;
}

.rtl .delimiter,
.rtl .language-topbar,
.rtl .currency-topbar {
    float: right;
}

.rtl .language-topbar .lang-curr .title {
    padding-left: 0;
    padding-right: 25px;
    background-position-x: right;
}

.rtl .language-topbar .lang-curr i,
.rtl .currency-topbar .currency-sym i {
    padding-left: 0;
    padding-right: 10px;
}

.rtl .login-topbar,
.rtl .register-topbar {
    /*float: right;*/
    /*margin-left: 126px;*/
}

.rtl .login-topbar:before {
    right: auto;
    left: 0;
}

.rtl .login-topbar {
    margin-right: 0;
    margin-left: 15px;
    padding-right: 0;
    padding-left: 15px;
}

.rtl .language-topbar .lang-list ul li a {
    background-position-x: right;
}

.rtl .currency-topbar .currency-list ul li a {
    padding-right: 0;
    padding-left: 15px;
}

.rtl .button-search {
    left: 0;
    right: auto;
}

.rtl .typo-top-cart {
    text-align: left;
}

.rtl .typo-icon-ajaxcart .icon-cart {
    float: right;
}

.rtl .ajaxcart {
    left: auto;
    right: 0;
}

.rtl .typo-ajax-container .typo-ajax-checkout .button {
    float: right;
}

.rtl .typo-ajax-container .typo-ajax-checkout .view-cart {
    margin-right: 0;
    margin-left: -5px;
}

.rtl .typo-ajax-container p.subtotal {
    text-align: left;
}

.rtl .typo-ajax-container p.subtotal .title {
    float: right;
}

.rtl .typo-ajax-container .product-image {
    float: right;
    display: none;
}

.rtl .typo-ajax-container .product-details {
    text-align: right;
}

.rtl .typo-ajax-container .btn-remove {
    right: auto;
    left: -5px;
}

.rtl .typo-ajax-container .product-image .qty-count {
    right: auto;
    left: 1px;
}

.rtl ul.megamenu>li.with-sub-menu>a:after {
    padding-right: 0;
    padding-left: 15px;
    float: right;
}

.rtl ul.megamenu>li>.sub-menu {
    left: auto;
    right: auto;
    margin-left: 0;
    margin-right: 0px;
}

.rtl ul.megamenu li .sub-menu .content {
    text-align: right;
}

.rtl ul.megamenu ul .megamenu-label {
    margin: 0px 6px 0px 0px !important;
}

.rtl ul.megamenu li .sub-menu .content .hover-menu .menu ul ul {
    left: auto;
    right: 100%;
    margin-right: -80px;
}

.rtl .camera_wrap .owl-controls .owl-buttons .owl-next {
    left: 45px;
    right: auto;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.rtl .camera_wrap .owl-controls .owl-buttons .owl-prev {
    left: auto;
    right: 45px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.rtl .camera_wrap .owl-controls .owl-pagination {
    right: auto;
    left: 14px;
}

.rtl .filter-product .filter-tabs ul>li:before {
    left: auto;
    right: -4px;
}

.rtl .tab-content .overflow-carousel>a {
    float: right;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.rtl .tab-content .overflow-carousel>.next-button {
    float: left;
}

.rtl .sale {
    left: 15px;
    right: auto;
}

.rtl .new-label {
    right: auto;
    left: 10px;
}

.rtl .new-label1 {
    left: auto;
    right: 15px;
    color: #ff0000;
}

.new-label1 {
    position: absolute;
    top: 15px;
    left: 15px;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    color: #000000;
    font-weight: bold;
    font-size: 13px;
    background: #ffffff;
    z-index: 10;
    text-transform: uppercase;
}

.rtl .product-info .new-label {
    left: auto;
    right: 15px;
}

.new-label-details {
    position: absolute;
    top: 15px;
    left: 15px;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    color: #000000;
    font-weight: bold;
    font-size: 13px;
    background: #ffffff;
    z-index: 10;
    text-transform: uppercase;
}

.rtl .product-grid .product .image .quickview {
    right: auto;
    left: 0;
}

.rtl .product-grid .product .price .price-old {
    padding-left: 20px;
    padding-right: 0px;
}

.rtl body .popup-module .mfp-close {
    text-align: left;
}

.rtl .mfp-close {
    right: auto !important;
    left: -20px !important;
}

.rtl .popup {
    text-align: right;
}

.rtl .blog-style .main-post-inner>span {
    margin-right: 0;
    margin-left: 27px;
}

.rtl .subscribe .input-box input {
    padding: 0 20px 0 140px;
}

.rtl .subscribe .input-box button {
    right: auto;
    left: 10px;
}

.rtl .scrollup {
    right: auto;
    left: 10px;
}

.rtl .footer ul li a:before {
    left: auto;
    right: 4px;
}

.rtl .footer ul li a:hover {
    padding-left: 20px;
    padding-right: 30px;
}

.rtl .footer ul.address-footer li a {
    padding-left: 20px;
    padding-right: 30px;
}

.rtl .footer ul li a>span {
    left: auto;
    right: 0;
}

.rtl .is-sticky .logo-sticky {
    float: right;
    padding-right: 0;
    padding-left: 15px;
    margin-top: 0px;
}

.rtl .is-sticky .sticky-icon-group {
    float: right;
    margin: -65px -125px 0px 0px;
    height: 50px;
}

.rtl .is-sticky .sticky-icon-group>div {
    float: right;
}

.rtl .sticky-search .quick-search .icon_close {
    right: auto;
    left: 0;
}

.rtl .sticky-header .main-menu {
    text-align: right;
}

.rtl .sticky-header {
    text-align: left;
}

.rtl .settings .settings-inner {
    /*    left: 0;
    right: auto;
*/
}

.rtl .settings .setting-content {
    text-align: right;
}

.rtl .settings .language-topbar {
    float: none;
}

.rtl .settings .currency-topbar {
    float: none;
}

.rtl .settings .language-topbar .lang-list ul li {
    float: right;
}

.rtl .settings .language-topbar .lang-list ul li a {
    background-position-x: center;
}

.rtl .settings .currency-topbar .currency-list ul li {
    float: right;
}

.rtl .settings .currency-topbar .currency-list ul li a {
    padding: 0 5px;
}

.rtl .settings .setting-option ul li a i {
    /*float: right;*/
    vertical-align: middle;
}

.rtl .settings-topbar {
    text-align: left;
}

@media (max-width: 991px) {
    .rtl.responsive ul.megamenu .megamenu-label {
        left: auto;
        right: 12px;
    }
    .rtl.responsive ul.megamenu>li.with-sub-menu .open-menu {
        left: 0;
        right: auto;
        padding: 0px 50px 0px 10px;
    }
    .rtl.responsive ul.megamenu>li.active .close-menu {
        right: auto;
        left: 0;
        padding: 0px 50px 0px 0px;
    }
    .responsive.rtl ul.megamenu li .sub-menu .content .hover-menu .menu ul ul {
        margin-right: 10px;
    }
}

@media (max-width: 767px) {
    .rtl.responsive ul.megamenu .menu>ul>li>.open-categories,
    .rtl.responsive ul.megamenu .menu>ul>li.active>.close-categories {
        right: auto;
        left: 0;
    }
}

.rtl .col-sm-3 .products .row>div .product .left,
.rtl .col-sm-4 .products .row>div .product .left,
.rtl .col-md-3 .products .row>div .product .left,
.rtl .col-md-4 .products .row>div .product .left {
    float: right;
}

.rtl .col-sm-3 .products .row>div .product,
.rtl .col-sm-4 .products .row>div .product,
.rtl .col-md-3 .products .row>div .product,
.rtl .col-md-4 .products .row>div .product {
    text-align: right;
}

.rtl .col-sm-3 .products .row>div .product .right,
.rtl .col-sm-4 .products .row>div .product .right,
.rtl .col-md-3 .products .row>div .product .right,
.rtl .col-md-4 .products .row>div .product .right {
    padding-left: 0;
    padding-right: 10px;
}

.rtl .col-sm-3 .products .product .name,
.rtl .col-sm-4 .products .product .name,
.rtl .col-md-3 .products .product .name,
.rtl .col-md-4 .products .product .name {
    text-align: right;
}

.rtl label.mfilter-tb-as-td {
    padding-left: 0;
    padding-right: 7px;
}

.rtl .col-sm-3 .box .box-heading,
.rtl .col-sm-4 .box .box-heading,
.rtl .col-md-3 .box .box-heading,
.rtl .col-md-4 .box .box-heading {
    text-align: right;
}

.rtl .mfilter-heading {
    text-align: right;
}

.rtl .mfilter-image ul li {
    float: right;
    margin-right: 0;
    margin-left: 7px;
}

.rtl .box-category ul li a {
    padding: 11px 20px 11px 42px;
}

.rtl .box-category ul li>a:before {
    left: auto;
    right: 0;
}

.rtl .box-category ul li .head {
    right: auto;
    left: 10px;
}

.rtl .box-category ul li .head a {
    padding-left: 5px;
}

.rtl .box-category ul li ul li a {
    padding-right: 30px;
}

.rtl .box-category ul li ul li a:before {
    right: 10px;
}

.rtl .inner-page .pattern>div>.row:first-child>div {
    float: right;
}

@media (max-width: 991px) {
    /*    .responsive.rtl .inner-page .pattern > div > .row:first-child > div {
        float: none;
    }*/
}

.rtl .product-filter .options {
    float: left;
}

.rtl .product-filter .list-options {
    float: right;
}

.rtl .product-filter .options .product-compare {
    float: right;
    padding-left: 32px;
    padding-right: 0;
}

.rtl .breadcrumb .with-other-image .container ul li:before {
    padding-left: 3px;
    padding-right: 1px;
}

.rtl .product-filter .list-options select {
    margin-left: 0;
    margin-right: 0px;
    padding-left: 10px;
}

.rtl .product-filter .list-options .select:after {
    right: auto;
    left: 10px;
}

.rtl .select:after {
    right: auto;
    left: 30px;
}

.rtl .list-box li:before {
    left: auto;
    right: 0;
}

.rtl ul.blog-list-default li .title a:before {
    left: auto;
    right: 0;
}

.rtl .postWrapper .postDetails .create-time {
    float: left;
}

.rtl .post .post-media .media-slider .owl-controls .owl-buttons .owl-prev {
    left: auto;
    right: 30px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.rtl .post .post-media .media-slider .owl-controls .owl-buttons .owl-next {
    left: 30px;
    right: auto;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.rtl table.attribute td,
.rtl table.list td,
.rtl .wishlist-product table td,
.rtl .wishlist-info table td,
.rtl .compare-info td,
.rtl .cart-info table td,
.rtl .checkout-product table td,
.rtl .table td {
    text-align: right;
}

.rtl .product-info .rating-links {
    padding-left: 0;
    padding-right: 16px;
}

.rtl .product-info .price .price-old {
    padding-left: 15px;
    padding-right: 0px;
}

.rtl .product-info .description span {
    padding-right: 0;
    padding-left: 20px;
}

.rtl .product-info .links a {
    margin-right: 0;
    margin-left: 30px;
}

.rtl .review-list .rating {
    float: left;
}

.rtl .review-list .text:before {
    left: auto;
    right: 9px;
}

.rtl .review-list .text:after {
    left: auto;
    right: 10px;
}

.rtl .product-info .cart .add-to-cart input,
.rtl .product-info .cart .add-to-cart .quantity {
    float: right;
}

.rtl .product-info .cart .add-to-cart .quantity {
    margin-right: 0;
    margin-left: 30px;
}

.rtl .product-info .sale {
    left: 25px;
}

.rtl .product-info .new-label {
    right: 25px;
}

.rtl .product-info .thumbnails-carousel .owl-buttons .owl-prev {
    left: auto;
    right: -15px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.rtl .product-info .thumbnails-carousel .owl-buttons .owl-next {
    right: auto;
    left: -15px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.rtl .product-info .thumbnails-carousel:hover .owl-buttons .owl-prev {
    right: 0;
}

.rtl .product-info .thumbnails-carousel:hover .owl-buttons .owl-next {
    left: 0;
}

.rtl table.attribute td:first-child,
.rtl table.list td:first-child,
.rtl .wishlist-product table td:first-child,
.rtl .wishlist-info table td:first-child,
.rtl .compare-info td:first-child,
.rtl .cart-info table td:first-child,
.rtl .checkout-product table td:first-child,
.rtl .table td:first-child {
    padding-left: 15px;
    padding-right: 0 !important;
}

.rtl .faq-area .faq-section .panel-faq .panel-heading .panel-title>a:after {
    right: auto;
    left: 5px;
}

.rtl table.attribute td:last-child,
.rtl table.list td:last-child,
.rtl .wishlist-product table td:last-child,
.rtl .wishlist-info table td:last-child,
.rtl .compare-info td:last-child,
.rtl .cart-info table td:last-child,
.rtl .checkout-product table td:last-child,
.rtl .table td:last-child {
    padding-left: 0;
    padding-right: 15px;
}

.rtl .mfp-image-holder .mfp-close,
.rtl .mfp-iframe-holder .mfp-close {
    text-align: left;
}

.rtl .manufacturer-list ul {
    float: right;
}

@media (max-width: 767px) {
    .responsive.rtl .product-filter .options {
        float: right;
    }
    .responsive.rtl .product-filter .options .product-compare {
        float: left;
        padding-left: 0;
        padding-right: 32px;
    }
}

.rtl .post .comments-list .text:before {
    left: auto;
    right: 9px;
}

.rtl .post .comments-list .text:after {
    left: auto;
    right: 10px;
}

.rtl .table td.text-center {
    text-align: center;
}

/* @group Version2 */

.rtl .main-slide-inner .main-carousel .owl-buttons>div {
    left: 20px;
    right: auto;
}

.rtl .main-slide-inner .main-carousel .owl-buttons .owl-prev {
    left: auto;
    right: 20px;
}

.rtl .header-layout-2 .top-bar {
    float: left;
    text-align: right;
}

.rtl .header-layout-2 .top-bar .inner-top-bar form {
    float: right;
}

.rtl .header-layout-2 .language-topbar .lang-list {
    left: 0;
    right: auto;
}

.rtl .header-layout-2 .currency-topbar .currency-list {
    left: 0;
    right: auto;
}

@media (max-width: 991px) {
    .box .box-heading {
        font-size: 24px;
    }
    .rtl.responsive .header-layout-2 .is-sticky .sticky-icon-group>.sticky-cart {
        right: auto;
        left: 0;
    }
}

/* @end */

/* @group Home fluid width */

.rtl .slider-align-top .header-layout-3 .sticky-search .quick-search .icon_close {
    right: auto;
    left: 15px;
}

.rtl .block-top-01 .content-block h2 span:after,
.block-top-02 .content-block h2 span:after {
    background-position-x: right;
}

.rtl .home03-newsletter-blog .container>div>.row>div:before {
    margin-right: -8.33333333%;
}

.rtl .subscribe.home03 .text {
    text-align: right;
}

.rtl .subscribe.home03 .title {
    text-align: right;
}

.rtl .subscribe.home03 .input-box button {
    left: 0;
}

.rtl .header-layout-3 .is-sticky .sticky-icon-group {
    margin-right: 30px;
    margin-left: 0 !important;
}

@media (max-width: 991px) {
    .rtl.responsive .header-layout-3 ul.megamenu>li,
    .rtl.responsive .header-layout-3 ul.megamenu li .sub-menu .content .hover-menu .menu ul li a,
    .rtl.responsive .header-layout-3 ul.megamenu li .sub-menu .content .static-menu .menu ul li a {
        text-align: right;
    }
    .rtl.responsive .header-layout-3 .megamenuToogle-pattern {
        padding-right: 193px;
        padding-left: 128px;
    }
}

@media (max-width: 580px) {
    .rtl.responsive .header-layout-3 .megamenuToogle-pattern {
        padding-right: 0;
        text-align: right;
    }
    .rtl.responsive .header-layout-3 .megamenuToogle-wrapper .container>div {
        margin-left: auto;
        margin-right: 0;
    }
}

.rtl .header-layout-3 .sticky-search .quick-search {
    right: auto;
    left: 95px;
}

/* @end */

/* @group Home parallax */

.rtl .header-layout-4 .is-sticky .sticky-icon-group {
    margin-right: 30px;
    margin-left: 0 !important;
}

@media (max-width: 991px) {
    .rtl.responsive .header-layout-4 ul.megamenu>li,
    .rtl.responsive .header-layout-4 ul.megamenu li .sub-menu .content .hover-menu .menu ul li a,
    .rtl.responsive .header-layout-4 ul.megamenu li .sub-menu .content .static-menu .menu ul li a {
        text-align: right;
    }
    .rtl.responsive .header-layout-4 .megamenuToogle-pattern {
        padding-right: 193px;
        padding-left: 128px;
    }
}

@media (max-width: 580px) {
    .rtl.responsive .header-layout-4 .megamenuToogle-pattern {
        padding-right: 0;
        text-align: right;
    }
    .rtl.responsive .header-layout-4 .megamenuToogle-wrapper .container>div {
        margin-left: auto;
        margin-right: 0;
    }
}

.rtl .header-layout-4 .sticky-search .quick-search {
    right: auto;
    left: 95px;
}

.rtl .home04 #fp-nav.right {
    right: auto;
    left: 20px;
}

@media (max-width: 767px) {
    .rtl.responsive body.home04 #fp-nav.right {
        right: auto;
        left: 5px;
    }
}

/* @end */

/* @group Home presentation */

.rtl .block-prent h2.title:before {
    left: auto;
    right: -100%;
}

.rtl #multiscroll .ms-section.active h2.title:before {
    right: 0;
}

/* @end */

/* @group Home boxed sidebar */

.rtl .header-type-5 .header .logo-home {
    text-align: right;
}

.rtl .header-type-5 .store-cr form {
    float: right;
}

.rtl .header-type-5 .store-cr {
    float: left;
}

.rtl .header-type-5 #top ul.megamenu {
    text-align: right;
}

.rtl .header-type-5 #top ul.megamenu>li {
    margin: 0px 0px 0px 28px;
}

@media (max-width: 991px) {
    .responsive.rtl .header-type-5 #top ul.megamenu>li {
        margin: 0px;
        text-align: center;
    }
}

.rtl .header-type-5 .top-bar {
    right: auto;
    left: 0;
}

.rtl .main-fixed .box .box-heading {
    text-align: right;
}

.rtl .main-fixed .tab-content .overflow-carousel {
    right: auto;
    left: 0;
}

.rtl .main-fixed .filter-product .filter-tabs ul {
    text-align: right;
    margin-right: -15px;
    padding-right: 0;
    margin-left: 0;
    padding-left: 80px;
}

.rtl .newsletter6 .subscribe .input-box input {
    padding: 0;
}

.rtl .newsletter6 .subscribe .input-box button {
    left: auto;
}

.rtl .vertical ul.megamenu>li>a {
    text-align: right;
}

.rtl .vertical ul.megamenu>li:hover>a {
    padding-left: 20px;
    padding-right: 30px;
}

@media (max-width: 767px) {
    .responsive.rtl .header-type-5 .header .logo-home {
        text-align: center;
    }
    .rtl.responsive .header-type-5 .social {
        float: right;
    }
}

/* @end */

/* @group Home interior */

.rtl .interior-block-slide-wrap .owl-theme .owl-buttons div.owl-prev {
    right: auto;
    left: 115px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    line-height: 48px;
}

.rtl .interior-block-slide-wrap .owl-theme .owl-buttons div.owl-next {
    right: auto;
    left: 45px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    line-height: 48px;
}

/* @end */

/* @group Home sunglasses */

.rtl .carousel-brands .owl-buttons .owl-prev {
    left: auto;
    right: 15px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.rtl .carousel-brands .owl-buttons .owl-next {
    left: 15px;
    right: auto;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

/* @end */

/* @group Home sidebar various */

.rtl .sidebar-various-title:after {
    left: auto;
    right: 3px;
}

.rtl body.header-type-6 {
    padding-left: 0;
    padding-right: 300px;
}

.rtl body.header-type-6 .header {
    left: auto;
    right: 0;
}

.rtl body.header-type-6 .store-cr {
    margin-right: 0;
    margin-left: -31px;
}

.rtl body.header-type-6 ul.megamenu>li>a {
    text-align: right;
}

.rtl body.header-type-6 ul.megamenu>li.with-sub-menu>a:after {
    float: left;
}

.rtl body.header-type-6 ul.megamenu>li.with-sub-menu>a:after {
    content: "\f104";
}

.rtl body.header-type-6 .horizontal ul.megamenu>li>.sub-menu {
    left: auto !important;
    right: 100% !important;
    padding-left: 0;
    padding-right: 30px;
    margin-right: 0 !important;
}

.rtl body.header-type-6 .typo-icon-ajaxcart .typo-cart-label .icon-dropdown {
    left: 0;
    right: auto;
}

.rtl body.header-type-6 .typo-icon-ajaxcart .typo-cart-label .fa-angle-down:before {
    content: "\f104";
}

.rtl body.header-type-6 .ajaxcart {
    left: auto;
    right: 100%;
    padding-left: 0;
    padding-right: 30px;
}

.rtl body.header-type-6 .typo-icon-ajaxcart {
    text-align: right;
}

@media (max-width: 1300px) {
    .responsive.rtl body.header-type-6 {
        padding-right: 260px;
    }
}

@media (max-width: 1100px) {
    .responsive.rtl body.header-type-6 {
        padding-right: 200px;
    }
}

@media (max-width: 991px) {
    .responsive.rtl body.header-type-6 {
        padding-right: 0px;
    }
    .rtl.responsive body.header-type-6 .settings-topbar {
        left: 15px;
        right: auto;
    }
    .rtl.responsive body.header-type-6 ul.megamenu>li>a {
        text-align: center;
    }
    .responsive.rtl body.header-type-6 .horizontal ul.megamenu>li>.sub-menu {
        left: 0 !important;
        right: 0 !important;
        padding: 0px !important;
        margin: 0px !important;
    }
}

/* @end */

/* @group Header type 7 */

.rtl body.header-type-7 {
    padding-left: 0;
    padding-right: 300px;
}

.rtl body.header-type-7 .header {
    left: auto;
    right: 0;
    border-right: none;
    border-left: 1px solid #e5e5e5;
}

.rtl #main .sb-topbar .overflow {
    margin-right: 0;
    margin-left: 40px;
}

.rtl .sticky-search .quick-search {
    right: 295px;
    left: auto;
    max-width: 500px;
}

.rtl body.header-type-7 .logo-home .logo {
    text-align: right;
}

.rtl body.header-type-7 ul.megamenu {
    text-align: right;
}

.rtl body.header-type-7 ul.megamenu>li {
    padding-right: 40px;
    padding-left: 20px;
}

.rtl body.header-type-7 ul.megamenu>li.with-sub-menu>a:after {
    float: left;
    content: "\f104";
}

.rtl body.header-type-7 .horizontal ul.megamenu>li>.sub-menu {
    left: auto !important;
    right: 100% !important;
    margin-right: 0 !important;
}

@media (max-width: 1300px) {
    .rtl.responsive body.header-type-7 {
        padding-right: 260px;
    }
    .rtl.responsive body.header-type-7 .header {
        width: 260px;
    }
    .rtl.responsive body.header-type-7 ul.megamenu>li {
        margin: 0px -30px;
    }
    .rtl.responsive body.header-type-7 ul.megamenu>li {
        padding-right: 30px;
    }
}

@media (max-width: 1100px) {
    .rtl.responsive body.header-type-7 {
        padding-right: 200px;
    }
    .rtl.responsive body.header-type-7 .header {
        width: 200px;
    }
    .rtl.responsive body.header-type-7 ul.megamenu>li {
        margin: 0px -20px;
    }
    .rtl.responsive body.header-type-7 ul.megamenu>li {
        padding-right: 20px;
    }
}

@media (max-width: 991px) {
    .rtl.responsive body.header-type-7 {
        padding-right: 0px;
        padding-left: 0;
    }
    .responsive.rtl body.header-type-7 ul.megamenu {
        text-align: center;
    }
    .rtl.responsive body.header-type-7 .header {
        border-left: none;
        width: auto;
    }
    .responsive.rtl body.header-type-7 .horizontal ul.megamenu>li>.sub-menu {
        left: auto !important;
        right: auto !important;
    }
    .responsive.rtl body.header-type-7 .logo-home .logo {
        text-align: center;
    }
    .rtl.responsive .sidebar-footer {
        left: auto;
        right: 0;
    }
    .rtl.responsive #main .sb-topbar {
        right: auto;
        left: 20px;
    }
    .responsive.rtl #main .sb-topbar .overflow {
        margin-left: 0;
    }
}

/* @end */

.rtl .pull-left {
    float: right !important;
}

.rtl .pull-right {
    float: left !important;
}

body {
    font-size: 18px !important;
}

body.header-type-6 ul.megamenu>li>a {
    font-size: 18px !important;
}

.product-info .product-name {
    font-size: 20px !important;
}

.form-search input#search {
    /*/*font-family: 'Tajawal', sans-serif;*/
    font-family: 'Markazi Text', serif;
    */ font-size: 18px;
}

.product-info .rating-links {
    font-size: 18px !important;
}

.breadcrumb .container h1 {
    /*font-family: 'Tajawal', sans-serif;*/
    font-family: 'Markazi Text', serif;
    font-size: 26px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.typo-main-menu,
.widget-tabs>li>a,
.block .block-title,
.typo-nav ul.nav-accordion li a,
.product-collateral .product-tabs li a,
.product-name,
.htabs a,
.product-info .links a {
    /*font-family: 'Tajawal', sans-serif;*/
    font-family: 'Markazi Text', serif;
}

.product-info .links a {
    font-size: 18px;
}

.product-info .options>div>label {
    font-size: 18px;
}

.form-control {
    font-family: 'Tajawal', sans-serif !important;
}

.box .box-heading {
    font-size: 20px;
    /*font-family: 'Tajawal', sans-serif;*/
    font-family: 'Markazi Text', serif;
}

.product-grid .product .name a {
    font-size: 16px;
    font-size: 20px;
    /*font-family: 'Tajawal', sans-serif;*/
    font-family: 'Markazi Text', serif;
    font-weight: 600;
    color: #000;
}

input,
button,
select,
textarea {}

#contactForm .form-list .input-box input,
#contactForm .form-list .input-box textarea {
    /*font-family: 'Tajawal', sans-serif;*/
    font-family: 'Markazi Text', serif;
}

.radio-inline,
.checkbox-inline {
    min-width: 60px;
}

.product-filter .list-options select {
    /*font-family: 'Tajawal', sans-serif;*/
    font-family: 'Markazi Text', serif;
  font-size: 16px;

}

.product-shop {}

.product-shop h2 {
    float: right;
    margin-left: 10px !important;
    padding: 0px;
    margin-bottom: 0px !important;
    margin-top: 3px !important;
}

.product-shop div {
    float: right;
    margin-left: 10px;
    margin-top: 0px;
}

.product-value {}

.box.with-scroll .box-heading {
    margin-bottom: 0px;
}

.box .box-heading {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #fdc85d;
    font-weight: bold;
    letter-spacing: 0.5px;
    /*font-family: 'Tajawal', sans-serif;*/
    font-family: 'Markazi Text', serif;
}

.products-grid .product {
    padding-top: 0px;
    text-align: center;
    position: relative;
}

.products-list .product {
    padding-top: 0px;
    text-align: center;
    position: relative;
}

.footer h4 {
    margin: 0 0 15px 0;
    padding: 0px;
    text-transform: uppercase;
    position: relative;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}

.footer .pattern {
    padding: 25px 0px 20px 0px;
    color: #fff;
    max-width: 1260px;
    margin: 0px auto;
}

.footer .pattern .container .row div.col-lg-2 {
    border-left: 1px solid #fff;
    margin-left: 0px;
}

.footer .pattern .container .row div.col-lg-2.last {
    border-left: 0px solid #fff;
}

.product-info .cart {
    padding-top: 0px;
}

table.attribute thead td,
table.list thead td,
.wishlist-product table thead td,
.wishlist-info table thead td,
.compare-info thead td,
.cart-info table thead td,
.checkout-product table thead td,
.table thead td {
    text-transform: uppercase;
    font-size: 1em;
    /*font-family: 'Tajawal', sans-serif;*/
    font-family: 'Markazi Text', serif;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: 600;
}

.cart-total {
    overflow: hidden;
    margin-bottom: 20px;
    padding-top: 25px;
}

.box-product .product-info {
    padding-top: 0px;
    padding-bottom: 0px;
}

.product-info .radio-type-button2 span {
    background: #efefef;
    height: 100%;
    min-width: 25px;
    border: 1px solid #fff;
    display: block;
    text-align: center;
    padding: 10px 15px;
    font-weight: bold;
    color: #636363;
    line-height: 1.5em;
}

.icon_plus {
    font-family: 'ElegantIcons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 2;
    -webkit-font-smoothing: antialiased;
}

.center-column .panel-body .radio,
.center-column .panel-body .checkbox {
    display: block;
}

.center-column .panel-body .radio input[type="radio"],
.center-column .panel-body .radio-inline input[type="radio"],
.center-column .panel-body .checkbox input[type="checkbox"],
.center-column .panel-body .checkbox-inline input[type="checkbox"] {
    margin-left: 10px;
    margin-right: auto;
    margin-top: 8px;
    float: right;
}

.buttons.clearfix .pull-right {
    float: right !important;
    width: 100%;
}

.buttons.clearfix .buttons .btn {
    float: left;
}

.buttons .btn {
    float: left;
}

.buttons.clearfix input[type="radio"],
.buttons.clearfix input[type="checkbox"] {
    float: right;
    margin-left: 8px;
    margin-right: 0px;
    margin-top: 8px;
}

.product-grid .product .name a {
    font-size: 16px;
    font-size: 18px;
    /*font-family: 'Tajawal', sans-serif;*/
    font-family: 'Markazi Text', serif;
}

.product-filter {
    /*font-family: 'Tajawal', sans-serif;*/
    font-family: 'Markazi Text', serif;
    padding: 0;
    margin: 0px 0px 0px 0px;
    color: #999;
    text-transform: uppercase;
}

.contact-page .how-to-contact .contact-way .inner-contact p {
    color: #666666;
    font-size: 16px;
    margin: 0;
    line-height: 20px;
}

body.header-type-6 ul.megamenu {
    position: static;
    text-align: left;
    padding-top: 60px;
}

body.header-type-6 .typo-top-cart {
    display: block;
    height: auto;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1px;
    padding-top: 40px;
}

.buttons input[type="radio"],
.buttons_custom input[type="checkbox"] {
    float: right;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 8px 0 0 4px;
    float: right;
}

.listoption .radio-type-button2 span {
    background: #efefef;
    height: 100%;
    min-width: 25px;
    border: 1px solid #fff;
    display: block;
    text-align: center;
    padding: 5px 5px;
    font-weight: bold;
    color: #636363;
    line-height: 1.5em;
}

.zoomLens {
    cursor: crosshair;
}

.accordion-toggle {
    font-weight: bold;
}

a.collapsed {
    font-weight: normal;
}

.fa {
    display: inline-block;
    /* font: normal normal normal 14px/1 FontAwesome; */
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 7px;
}

@media only screen and (min-width:0px) and (max-width:768px) {
    thead.theadme {
        display: table-caption;
    }
}

.ribbon {
    position: absolute;
    right: 16px;
    top: 0;
    z-index: 1;
    overflow: hidden;
    width: 80px;
    height: 80px
}

.ribbon span {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    line-height: 22px;
    transform: rotate(45deg);
    width: 95px;
    background: #d00000;
    position: absolute;
    top: 15px;
    right: -22px
}

@media (max-width: 991px) {
    .rtl .ajaxcart {
        right: auto;
        left: 0.2em;
    }
}

@media (max-width: 768px) {
    .horizontal ul.megamenu>li>.sub-menu {
        max-width: 100%;
    }
    .rtl .sticky-header .main-menu {
        text-align: center;
    }

    .center-column {
        padding-top: 10px;
    }
}