<?php foreach ($payment_request_params['params'] as $k => $v): ?>
<input type="hidden" name="<?php echo $k?>" value="<?php echo $v?>"><?php endforeach; ?>


<form name="paymentform" method="POST" action="<?php echo $payment_request_params['url']; ?>"><?php foreach ($payment_request_params['params'] as $k => $v): ?>
    <input type="hidden" name="<?php echo $k?>" value="<?php echo $v?>"><?php endforeach; ?>

    <input type="hidden" name="card_holder_name" value="" id="cardholdername" />
    <input type="hidden" name="card_number" value="" id="cardnumber" />
    <input type="hidden" name="expiry_date" value="" id="expdate" />
    <input type="hidden" name="card_security_code" value="" id="cardcvv" />

</form>

<div>
  Please wait!Loading...
  Do not go back or close the app...
</div>
<style>
div {
  height: 100%;
  line-height: 100%;
  text-align: center;
  background-color:#b08264;
  font-size:70px;
}
</style>

<script type="text/javascript">
<!--

        function fn_load(name,cardnumber,exp,cvv) {

           try {

            document.getElementById("cardholdername").value= name;
            document.getElementById("cardnumber").value= cardnumber;
            document.getElementById("expdate").value= exp;
            document.getElementById("cardcvv").value= cvv;

            document.forms['paymentform'].submit();

           } catch (error) {
               var obj = {success:false,message:"unable to initiate a call to payfort"};
               webkit.messageHandlers.callbackHandler.postMessage(JSON.stringify(obj));
           }
        }

        window.fnload = fn_load;

//--></script>