
        <form action="index.php?route=payment/sadad/send" method="post">
                 <div class="buttons">
            <div class="">
            <img src='image/sadad.png' style="float:right; margin-top:10px;">
      <input type="text" placeholder="Enter Sadad Account ID" name="sadad" size="40" style="margin-right:12px;" />
      <input type="submit" value="<?php echo $button_confirm; ?>" class="btn btn-primary" />
            </div>
          </div>
        </form>



         