<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-sadad" data-toggle="tooltip" title="<?php echo $button_save; ?>" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="<?php echo $button_cancel; ?>" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1><?php echo $heading_title; ?></h1>
      <ul class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
        <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
        <?php } ?>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <?php if ($error_warning) { ?>
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> <?php echo $text_edit; ?></h3>
      </div>
      <div class="panel-body">
        <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form-paystabs" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-merchant">Merchant Email</label>
            <div class="col-sm-10">
              <input type="text" name="sadad_merchant" value="<?php echo $sadad_merchant; ?>" placeholder="<?php echo $entry_merchant; ?>" id="input-merchant" class="form-control" />
              <?php if ($error_merchant) { ?>
              <div class="text-danger"><?php echo $error_merchant; ?></div>
              <?php } ?>
            </div>
          </div>

  <div class="form-group required">
        <label class="col-sm-2 control-label" for="input-security">Secret Key</label>
        <div class="col-sm-10">
        <input type="text" name="sadad_password"  size='120' value="<?php echo $sadad_password; ?>" placeholder="<?php echo $entry_password; ?>" id="input-security" class="form-control" />
        <?php if ($error_security) { ?>
        <div class="text-danger"><?php echo $error_security; ?></div>
        <?php } ?>
        </div>
  </div>


         
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order-status">Order Status</label>
            <div class="col-sm-10">
              <select name="sadad_order_status_id" id="input-order-status" class="form-control">
                <?php foreach ($order_statuses as $order_status) { ?>
                <?php if ($order_status['order_status_id'] == $sadad_order_status_id) { ?>
                <option value="<?php echo $order_status['order_status_id']; ?>" selected="selected"><?php echo $order_status['name']; ?></option>
                <?php } else { ?>
                <option value="<?php echo $order_status['order_status_id']; ?>"><?php echo $order_status['name']; ?></option>
                <?php } ?>
                <?php } ?>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-geo-zone">Geo Zone</label>
            <div class="col-sm-10">
              <select name="sadad_geo_zone_id" id="input-geo-zone" class="form-control">
                <option value="0"><?php echo $text_all_zones; ?></option>
                <?php foreach ($geo_zones as $geo_zone) { ?>
                <?php if ($geo_zone['geo_zone_id'] == $sadad_geo_zone_id) { ?>
                <option value="<?php echo $geo_zone['geo_zone_id']; ?>" selected="selected"><?php echo $geo_zone['name']; ?></option>
                <?php } else { ?>
                <option value="<?php echo $geo_zone['geo_zone_id']; ?>"><?php echo $geo_zone['name']; ?></option>
                <?php } ?>
                <?php } ?>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-sadad_live">Payment Environment</label>
            <div class="col-sm-10">
              <select name="sadad_live" id="input-sadad_live" class="form-control">
                <?php if ($sadad_live=='live') { ?>
                <option value="live" selected="selected">live</option>
                <option value="test">test</option>
                <?php } else { ?>
                <option value="live">live</option>
                <option value="test" selected="selected">test</option>
                <?php } ?>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">Enable</label>
            <div class="col-sm-10">
              <select name="sadad_status" id="input-status" class="form-control">
                <?php if ($sadad_status) { ?>
                <option value="1" selected="selected"><?php echo $text_enabled; ?></option>
                <option value="0"><?php echo $text_disabled; ?></option>
                <?php } else { ?>
                <option value="1"><?php echo $text_enabled; ?></option>
                <option value="0" selected="selected"><?php echo $text_disabled; ?></option>
                <?php } ?>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-sort-order">Sort Order</label>
              <div class="col-sm-10">
              <select name="sadad_sort_order" id="input-status" class="form-control">
                <?php if ($sadad_status) { ?>
                <option value="0" selected="selected">Asc</option>
                <option value="0">Desc</option>
                <?php } else { ?>
                <option value="0">Desc</option>
                <option value="0" selected="selected">Desc</option>
                <?php } ?>
              </select>
             
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
<?php echo $footer; ?> 