.table_album {
	width:100%;
}
.td_album {
	width: 20%; 
	text-align: center;
}
.td_album_image {
	width: 25%; 
	text-align: center;
}
.td_album_image img {
	border:1px solid #d1d1d1;
}
.album {
	/*width: 326px; 
	height: 186px; */
	padding: 0px 0px 0px 0px; 
	//background: url('../image/bgVideoAlbum.png') no-repeat;
	/*border: 3px solid #000;*/
	margin-left: 0px;
}
.album img {
	border:0px;
	margin-left: 0px;
	width:100%;
}
.album_name {
	text-decoration:none;
	font-weight: bold;
	font-size: 18px;
	margin-left: 0px;
}
.album_date_added {
	color: #999; 
	font-size: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.album_sort {
	width: 100%; 
	height: 30px; 
	line-height: 30px; 
	margin-bottom: 5px;
}


.video {
	/*width: 326px; 
	height: 186px; */
	padding: 0px 0px 0px 0px; 
	//background: url('../image/bgVideoAlbum.png') no-repeat;
	/*: 3px solid #000;*/
	margin-left: 0px;
}

.transition-custom{ margin-bottom:40px;     min-height: 240px;}

.video img {
	border:0px;
	margin-left: 0px;
	width:100%;
}
.video_name {
	text-decoration:none;
	font-weight: bold;
	font-size: 13px;
	margin-left: 0px;
}
.video_date_added {
	color: #999; 
	font-size: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
}

div.nicetitle {
	background-color: #555;
	color: #38B0E3;
	font: 12px "Trebuchet MS", Verdana, Arial, sans-serif;
	left: 0;
	padding: 4px;
	position: absolute;
	top: 0;
	width: 600px;
	z-index: 20;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	 border-radius: 10px;
	}

div.nicetitle p {
    margin: 0;
	padding: 0 3px;
}

div.nicetitle p.destination {
    font-size: 9px;
    padding-top: 3px;
	text-align: left;
}

div.nicetitle p span.accesskey {
	color: #d17e62;
}

#play{
	position: absolute; 
	width: 100px;
	height: 100px;
    margin-left: 550px;
	margin-top: -175px; 
	background: url('../image/play.png') no-repeat;
}

#bor:hover{
	border: 1px #38B0E3 solid;
	
}

#bor{
	border: 1px #fff solid;
	width: 122px;
	height: 92px;
	margin-left: 55px;
}
.album_date_added{ font-size:14px; text-align:right;}
.album_date_added a{ font-size:18px; display:block;}


@media screen and (-webkit-min-device-pixel-ratio:0) {
  #play {
    margin-left: 40px;
  }
}