﻿<script type="text/javascript">
  $(document).ready(function() {
  console.log("00000000");
  $('.welcomPara').parent().addClass('welcomwrap');
  $( ".welcomwrap" ).insertAfter( ".box-with-products.box-cus" );
});
</script>
<?php 
if($this->registry->has('theme_options') == true) { 
$class = 3; 
$id = rand(0, 5000)*rand(5000, 50000);
$all = 4; 
$row = 4; 
$theme_options = $this->registry->get('theme_options');
$config = $this->registry->get('config');
$page_direction = $theme_options->get( 'page_direction' );
if($theme_options->get( 'product_per_pow' ) == 6) { $class = 2; }
if($theme_options->get( 'product_per_pow' ) == 5) { $class = 25; }
if($theme_options->get( 'product_per_pow' ) == 3) { $class = 4; }
if($theme_options->get( 'product_per_pow' ) > 1) { $row = $theme_options->get( 'product_per_pow' ); $all = $theme_options->get( 'product_per_pow' ); } 
?>
<div class="box clearfix box-with-products box-cus" with-scroll"="" id="categoryproduct1">
    <div class="box-heading heading-cus2" style="display: none;"> فئات المنتجات </div>
    <div class="strip-line"></div>
    <div class="box-content products">
        <div class="box-product">
            <div id="myCarousel<?php echo $id; ?>" <?php if($theme_options->get( 'product_scroll_latest' ) != '0') { ?>class="carousel slide"<?php } ?>>
    		    <!-- Carousel items <div class="carousel-inner">-->
    		    <div class="carousel-inner">
    			    <?php $i = 0; $row_fluid = 0; $item = 0; foreach ($categories as $category) { $row_fluid++; ?>
	    			    <?php if($i == 0) { $item++; echo '<div class="item active"><div class="product-grid"><div class="row" style="margin-bottom: 20px;">'; } ?>
	    			    <?php $r=$row_fluid-floor($row_fluid/$all)*$all; if($row_fluid>$all && $r == 1) { if($theme_options->get( 'product_scroll_latest' ) != '0') { echo '</div></div></div><div class="item"><div class="product-grid"><div class="row" style="margin-bottom: 20px;">'; $item++; } else { echo '</div><div class="row">'; } } else { $r=$row_fluid-floor($row_fluid/$row)*$row; if($row_fluid>$row && $r == 1) { echo '</div><div class="row">'; } } ?>
	    			    <div class="col-sm-<?php echo $class; ?> col-xs-6 <?php if($class == 2) { echo 'col-md-25 col-lg-2 col-sm-4 '; } if($class == 2 && $r == 0) { echo 'hidden-md hidden-sm'; } if($class == 2 && $r == 5) { echo 'hidden-sm'; } ?> <?php if($class == 25) { echo 'col-md-25 col-lg-25 col-sm-3 '; } if($class == 25 && $r == 0) { echo 'hidden-sm'; } ?> <?php if($class == 3) { echo 'col-md-4 col-lg-4 col-sm-4 '; } if($class == 3 && $r == 0) { echo 'hidden-sm hidden-md'; } ?>"><div class="product product-layout clearfix product-hover">
                                <div class="left">
                                    <div class="image image-swap-effect">
                                        <?php if ($category['thumb']) { ?>
				                            <a href="<?php echo $category['href']; ?>"><img src="<?php echo $category['thumb']; ?>" alt="<?php echo $category['cname']; ?>" class=""></a>
                                        <?php } else { ?>
                                            <a href="<?php echo $category['href']; ?>"><img src="image/no_image.jpg" alt="<?php echo $category['cname']; ?>" class=""></a>
                                        <?php } ?>
			                        </div>
                                </div>
                                <div class="right">
                                    <div class="name"><a href="#"><?php echo $category['cname']; ?><span>(<?php echo $category['count']; ?>)</span></a></div>
                                </div>
                           </div>
	    			    </div>
    			    <?php $i++; } ?>
    			    <?php if($i > 0) { echo '</div></div></div>'; } ?>
    		    </div>
		    </div>
        </div>
    </div>
</div>
<?php } ?>

<?php 
if($this->registry->has('theme_options') == true) { 
$class = 3; 
$id = rand(0, 5000)*rand(5000, 50000);
$all = 4; 
$row = 4; 

$theme_options = $this->registry->get('theme_options');
$config = $this->registry->get('config');
$page_direction = $theme_options->get('page_direction' );

if($theme_options->get( 'product_per_pow' ) == 6) { $class = 2; }
if($theme_options->get( 'product_per_pow' ) == 5) { $class = 25; }
if($theme_options->get( 'product_per_pow' ) == 3) { $class = 4; }

if($theme_options->get( 'product_per_pow' ) > 1) { $row = $theme_options->get( 'product_per_pow' ); $all = $theme_options->get( 'product_per_pow' ); } ?>
<div class="box clearfix box-with-products" <?php if($theme_options->get( 'product_scroll_specials' ) != '0') { echo 'with-scroll';  } ?>" id="categoryproduct">
  <?php if($theme_options->get( 'product_scroll_specials' ) != '0') { ?>
  <!-- Carousel nav
  <a class="next" href="#myCarousel"
    <?php echo $id; ?>" id="myCarousel<?php echo $id; ?>_next"><span></span>
  </a>
  <a class="prev" href="#myCarousel"
    <?php echo $id; ?>" id="myCarousel<?php echo $id; ?>_prev"><span></span>
  </a>-->
  <?php } ?>

  <!-- <div class="box-heading">
    <?php echo $heading_title; ?>
  </div> -->
  <div class="strip-line"></div>
  <div class="box-content products">
    <div class="box-product">
		<?php if ($categories) { ?>
		  <?php 
		  $class = 3; 
		  $row = 4; 
		  $id = rand(0, 5000)*rand(5000, 50000);
  
		  if($theme_options->get( 'product_per_pow2' ) == 6) { $class = 2; }
		  if($theme_options->get( 'product_per_pow2' ) == 5) { $class = 25; }
		  if($theme_options->get( 'product_per_pow2' ) == 3) { $class = 4; }
  
		  if($theme_options->get( 'product_per_pow2' ) > 1) { $row = $theme_options->get( 'product_per_pow2' ); } 
		  ?>
		  <div class="products-grid product-grid grid-cus"<?php if($theme_options->get('default_list_grid') == '1') { echo ' class="active"'; } ?>>
			<?php foreach ($categories as $category) { ?>
				<div class="box-heading heading-cus"><?php echo $category['cname']; ?></div>
				<div class="container">
					
					<div id="myCarousel<?php echo $category['category_id'] ?>" class="carousel slide">
				<div class="carousel-inner">  					
	  				<?php foreach ($category['products'] as $product) { ?>
						<div class="item">
		  					<?php include('catalog/view/theme/'.$config->get('config_template').'/template/new_elements/product.tpl'); ?>
						</div>	
					<?php } ?>
				</div>
			</div>

				</div>
			
			
			 <?php } ?>
		  </div>  
		<?php } ?>
    </div>
  </div>
</div>

<script type="text/javascript">
function display(view) {
	if (view == 'list') {
		$('.products-grid').css("display", "none");//.removeClass("active");
		$('.products-list').css("display", "block");//addClass("active");

		$('.display').html('<button id="grid" rel="tooltip" title="Grid" onclick="display(\'grid\');"><i class="fa fa-th-large"></i></button> <button class="active" id="list" rel="tooltip" title="List" onclick="display(\'list\');"><i class="fa fa-th-list"></i></button>');
		
		localStorage.setItem('display', 'list');
	} else {
	
		$('.products-grid').css("display", "block");
		$('.products-list').css("display", "none");
		//$('.product-grid').addClass("active");
		//$('.product-list').removeClass("active");
					
		$('.display').html('<button class="active" id="grid" rel="tooltip" title="Grid" onclick="display(\'grid\');"><i class="fa fa-th-large"></i></button> <button id="list" rel="tooltip" title="List" onclick="display(\'list\');"><i class="fa fa-th-list"></i></button>');
		
		localStorage.setItem('display', 'grid');
	}
}

if (localStorage.getItem('display') == 'list') {
	display('list');
} else {
	display('grid');
}
</script>
<script type="text/javascript">
          
$('.addtocartlist').on('click', function() {
	 var productId = $(this).attr('data-productid');
	$('#product_id').val(productId);
	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',		
		data: $('#productid input[type=\'hidden\'], #product input[type=\'radio\']:checked'),
		dataType: 'json',
		beforeSend: function() {
			$('#button-cart').button('loading');
		},
		complete: function() {
			$('#button-cart').button('reset');
		},
		success: function(json) {
			$('.alert, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
        if(json['error']['stock']){
            $.notify({
					  message: json['error']['stock'],
					  target: '_blank'
				  },{
					  // settings
					  element: 'body',
					  position: null,
					  type: "info",
					  allow_dismiss: true,
					  newest_on_top: false,
					  placement: {
						  from: "top",
						  align: "right"
					  },
					  offset: 20,
					  spacing: 10,
					  z_index: 2031,
					  delay: 5000,
					  timer: 1000,
					  url_target: '_blank',
					  mouse_over: null,
					  animate: {
						  enter: 'animated fadeInDown',
						  exit: 'animated fadeOutUp'
					  },
					  onShow: null,
					  onShown: null,
					  onClose: null,
					  onClosed: null,
					  icon_type: 'class',
					  template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-danger" role="alert">' +
						  '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
						  '<span data-notify="message"><i class="fa fa-check-circle"></i>&nbsp; {2}</span>' +
						  '<div class="progress" data-notify="progressbar">' +
							  '<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
						  '</div>' +
						  '<a href="{3}" target="{4}" data-notify="url"></a>' +
					  '</div>' 
				  });
        }
				if (json['error']['option']) {
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));
						
						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
					}
				}
				
				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}
				
				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}
			
			if (json['success']) {
				$('span').removeClass("active");
				$.notify({
					message: json['success'],
					target: '_blank'
				},{
					// settings
					element: 'body',
					position: null,
					type: "info",
					allow_dismiss: true,
					newest_on_top: false,
					placement: {
						from: "top",
						align: "right"
					},
					offset: 20,
					spacing: 10,
					z_index: 2031,
					delay: 5000,
					timer: 1000,
					url_target: '_blank',
					mouse_over: null,
					animate: {
						enter: 'animated fadeInDown',
						exit: 'animated fadeOutUp'
					},
					onShow: null,
					onShown: null,
					onClose: null,
					onClosed: null,
					icon_type: 'class',
					template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-success" role="alert">' +
						'<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
						'<span data-notify="message"><i class="fa fa-check-circle"></i>&nbsp; {2}</span>' +
						'<div class="progress" data-notify="progressbar">' +
							'<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
						'</div>' +
						'<a href="{3}" target="{4}" data-notify="url"></a>' +
					'</div>' 
				});
				
				$('#cart_block #cart_content').load('index.php?route=common/cart/info #cart_content_ajax');
				$('#cart_block #total_price_ajax').load('index.php?route=common/cart/info #total_price');
				$('#cart_block #total_item_ajax').load('index.php?route=common/cart/info #total_item');
			}
		},
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
	});
});
</script> 
<script type="text/javascript">
var ajax_price = function() {
	$.ajax({
		type: 'POST',
		url: 'index.php?route=product/liveprice/index',
		data: $('.product-info input[type=\'text\'], #productid input[type=\'hidden\'], .product-info input[type=\'radio\']:checked, .product-info input[type=\'checkbox\']:checked, .product-info select, .product-info textarea'),
		dataType: 'json',
			success: function(json) {
			if (json.success) {
				change_price('#price-special', json.new_price.special);
				change_price('#price-tax', json.new_price.tax);
				change_price('#price-old', json.new_price.price);
			}
		}
	});
}

var change_price = function(id, new_price) {
	var productid=$('#product_id').val();
	var newid = id+"_"+productid;
	$(newid).text(new_price);
}

$('.product-info input[type=\'text\'], .product-info input[type=\'hidden\'], .product-info input[type=\'radio\'], .product-info input[type=\'checkbox\'], .product-info select, .product-info textarea, .product-info input[name=\'quantity\']').on('change', function() {
	ajax_price();
});
function showWarningMessage(){
	alert('الكمية نفدت');
	return false;
}
</script>
<script type="text/javascript">
$(document).ready(function() {
  var owl<?php echo $id; ?> = $(".box #myCarousel<?php echo $id; ?> .carousel-inner");
	
  $("#myCarousel<?php echo $id; ?>_next").click(function(){
      owl<?php echo $id; ?>.trigger('owl.next');
      return false;
    })
  $("#myCarousel<?php echo $id; ?>_prev").click(function(){
      owl<?php echo $id; ?>.trigger('owl.prev');
      return false;
  });
    
  owl<?php echo $id; ?>.owlCarousel({
  	  slideSpeed : 500,
      singleItem:true,
      <?php if($page_direction[$config->get( 'config_language_id' )] == 'RTL'): ?>
      direction: 'rtl',
      pagination: false,
      //nav    : true,
      //navText : ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"]
      <?php endif; ?>
   });
});
$(document).ready(function() {	
	<?php foreach ($categories as $category) { ?>
		var owl<?php echo $category['category_id'] ?> = $(".box #myCarousel<?php echo $category['category_id'] ?> .carousel-inner");

		$("#owl<?php echo $category['category_id'] ?>_next").click(function() {
			owl<?php echo $category['category_id'] ?>.trigger('owl.next');
			return false;
		})
		$("#owl<?php echo $category['category_id'] ?>_prev").click(function() {
			owl<?php echo $category['category_id'] ?>.trigger('owl.prev');
			return false;
		});

		owl<?php echo $category['category_id'] ?>.owlCarousel({
			slideSpeed: 500,
			direction: 'rtl',
			items:4,
		    loop:true,
		    autoplay:true,
			responsive: {
				0: {
					items: 3,
					margin: 20
				},
				470: {
					items: 3,
					margin: 20
				},
				690: {
					items: 3,
					margin: 40
				},
				720: {
					items: 3,
					margin: 20
				},
				860: {
					items: 3,
					margin: 40
				},
				890: {
					items: 3,
					margin: 40
				}
			},
			navigationText : ['<span class="fa-stack"><i class="fa fa-circle fa-stack-1x"></i><i class="fa fa-chevron-circle-left fa-stack-1x fa-inverse"></i></span>','<span class="fa-stack"><i class="fa fa-circle fa-stack-1x"></i><i class="fa fa-chevron-circle-right fa-stack-1x fa-inverse"></i></span>']
		});
	 <?php } ?>
});
</script>
<?php } ?>