<?php echo $header; 
$theme_options = $this->registry->get('theme_options');
$config = $this->registry->get('config'); ?>
<?php $grid_center = 12; if($column_left != '') $grid_center = $grid_center-3; if($column_right != '') $grid_center = $grid_center-3; require_once( DIR_TEMPLATE.$config->get('config_template')."/lib/module.php" ); $modules = new Modules($this->registry); ?>
<div class="main-content <?php if($theme_options->get( 'content_layout' ) == 2) { echo 'fixed'; } else { echo 'full-width'; } ?> home">
  <div class="background-content"></div>
  <div class="background">
    <div class="shadow"></div>
    <div class="pattern">
      <div class="container">
        <?php $preface_left = $modules->getModules('preface_left'); $preface_right = $modules->getModules('preface_right'); ?>
        <?php if( count($preface_left) || count($preface_right) ) { ?>
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
            <?php if( count($preface_left) ) { foreach ($preface_left as $module){ echo $module; } } ?>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            <?php if( count($preface_right) ){foreach ($preface_right as $module){ echo $module; } } ?>
          </div>
        </div>
        <?php } ?>
        <?php $preface_fullwidth = $modules->getModules('preface_fullwidth');if( count($preface_fullwidth) ){ ?>
        <div class="row">
          <div class="col-sm-12">
            <?php foreach ($preface_fullwidth as $module) { echo $module; } ?>
          </div>
        </div>
        <?php } ?>
        <div class="row">
          <?php $columnleft = $modules->getModules('column_left');if( count($columnleft) ){ ?>
          <div class="col-md-3" id="column_left">
            <?php foreach ($columnleft as $module){ echo $module; } ?>
          </div>
          <?php } ?>
          <?php $grid_center = 12; if( count($columnleft) ){ $grid_center = 9; } ?>
          <div class="zeetest1 col-md-<?php echo $grid_center; ?>">
            <?php $content_big_column = $modules->getModules('content_big_column'); if( count($content_big_column) ) { foreach ($content_big_column as $module){ echo $module; }}?>
            <div class="row">
              <?php $grid_content_top = 12; $grid_content_right = 3;$column_right = $modules->getModules('column_right');if( count($column_right) ){if($grid_center == 9){ $grid_content_top = 8; $grid_content_right = 4; }else { $grid_content_top = 9; $grid_content_right = 3; } } ?>
              <div class="zeetest2 col-md-<?php echo $grid_content_top; ?>">
                <?php $content_top = $modules->getModules('content_top'); if( count($content_top) ){ foreach ($content_top as $module) { echo $module; } } ?>
              </div>
              <?php if( count($column_right) ) { ?>
              <div class="zeetest3 col-md-<?php echo $grid_content_right; ?>">
                <?php foreach ($column_right as $module) { echo $module; } ?>
              </div>
              <?php } ?>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <?php $contentbottom = $modules->getModules('content_bottom');if( count($contentbottom) ){ ?>
            <?php foreach ($contentbottom as $module) { echo $module; } ?>
            <?php } ?>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<?php echo $footer; ?>