<!DOCTYPE html>
<html dir="<?php echo $direction; ?>" lang="<?php echo $lang; ?>">
<head>
<meta charset="UTF-8" />
<title><?php echo $title; ?></title>
<base href="<?php echo $base; ?>" />
<link href="view/javascript/bootstrap/css/bootstrap.css" rel="stylesheet" media="all" />
<script type="text/javascript" src="view/javascript/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="view/javascript/bootstrap/js/bootstrap.min.js"></script>
<link href="view/javascript/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
<link type="text/css" href="view/stylesheet/stylesheet.css" rel="stylesheet" media="all" />
</head>
<body>
<div class="container">
  <?php foreach ($orders as $order) { ?>
  <div style="page-break-after: always;">
    <h1><?php echo $text_invoice; ?> #<?php echo $order['order_no']; ?></h1><br><b><?php echo $text_date_added; ?></b> <?php echo $order['date_added']; ?>
    <table class="table table-bordered">
      <thead>
        <tr>
          <td colspan="2"><?php echo $text_order_detail; ?></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width: 50%;"><address>
            <strong><?php echo $order['store_name']; ?></strong><br />
            <?php echo $order['store_address']; ?>
            </address>
            <b><?php echo $text_telephone; ?></b> <?php echo $order['store_telephone']; ?><br />
            <?php if ($order['store_fax']) { ?>
            <b><?php echo $text_fax; ?></b> <?php echo $order['store_fax']; ?><br />
            <?php } ?>
            <b><?php echo $text_email; ?></b> <?php echo $order['store_email']; ?><br />
            <b><?php echo $text_website; ?></b> <a href="<?php echo $order['store_url']; ?>"><?php echo $order['store_url']; ?></a></td>
          <td style="width: 50%;">
            <?php if ($order['invoice_no']) { ?>
            <b><?php echo $text_invoice_no; ?></b> <?php echo $order['invoice_no']; ?><br />
            <?php } ?>
            <b><?php echo $text_order_id; ?></b> <?php echo $order['order_no']; ?><br />
            <b><?php echo $text_payment_method; ?></b> <?php echo $order['payment_method']; ?><br />
            <?php if ($order['shipping_method']) { ?>
            <b><?php echo $text_shipping_method; ?></b> <?php echo $order['shipping_method']; ?><br />
            <?php } ?></td>
        </tr>
      </tbody>
    </table>
    <table class="table table-bordered">
      <thead>
        <tr>
          <td style="width: 50%;"><b><?php echo $text_to; ?></b></td>
          <td style="width: 50%;"><b><?php echo $text_ship_to; ?></b></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><address>
            <?php echo $order['payment_address']; ?>
            </address></td>
          <td><address>
            <?php echo $order['shipping_address']; ?>
            </address></td>
        </tr>
      </tbody>
    </table>
	 <table class="table table-bordered">
      <thead>
        <tr>
          <td>Tax Details</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <strong>Tax Registration : 310017679800003</strong>
		  </td>
        </tr>
      </tbody>
    </table>
    <table class="table table-bordered">
      <thead>
        <tr>
          <td style="width: 20%;"><b><?php echo $column_product; ?></b></td>
          <td class="text-right"><b>Qty</b></td>
          <td class="text-right"><b><?php echo $column_price; ?></b></td>
		  <td class="text-right"><b>Intial Total</b></td>
          <td class="text-right"><b>Discount</b></td>
		  <td class="text-right"><b><?php echo $column_total; ?></b></td>
		  <td class="text-right"><b><?php echo $column_tax; ?></b></td>
		  <td class="text-right"><b><?php echo $column_total_tax; ?></b></td>
        </tr>
      </thead>
      <tbody>
        <?php foreach ($order['product'] as $product) { ?>
        <tr>
          <td><?php echo $product['name']; ?>
            <?php foreach ($product['option'] as $option) { ?>
            <br />
            &nbsp;<small> - <?php echo $option['value']; ?></small>
            <?php } ?></td>
          <td class="text-right"><?php echo $product['quantity']; ?></td>
          <td class="text-right"><?php echo $product['unit_price']; ?></td>
          <td class="text-right"><?php echo $product['intial_total']; ?></td>
		  <td class="text-right"><?php echo $product['discount']; ?></td>
		  <td class="text-right"><?php echo $product['total']; ?></td>
		  <td class="text-right"><?php echo $product['tax']; ?></td>
		  <td class="text-right"><?php echo $product['total_tax']; ?></td>
        </tr>		
        <?php } ?>		
		<?php foreach ($order['total_data'] as $total_data) { ?>
		<tr>
		  <td colspan='3'>Total</td>
          <td class="text-right"><?php echo $total_data['total_intial']; ?></td>
		  <td class="text-right"></td>
		  <td class="text-right"><?php echo $total_data['total_total']; ?></td>
		  <td class="text-right"><?php echo $total_data['total_tax']; ?></td>
		  <td class="text-right"><?php echo $total_data['total_grand_total']; ?></td>
		</tr>
		<?php } ?>
        <?php foreach ($order['voucher'] as $voucher) { ?>
        <tr>
          <td><?php echo $voucher['description']; ?></td>
          <td></td>
          <td class="text-right">1</td>
          <td class="text-right"><?php echo $voucher['amount']; ?></td>
          <td class="text-right"><?php echo $voucher['amount']; ?></td>
        </tr>
        <?php } ?>
		<tr>
		<td colspan='8' style="height: 30px;"></td>
		<tr>
        <?php foreach ($order['total'] as $total) { ?>
        <tr>
          <td class="text-right" colspan="7" style="direction: rtl;"><b><?php echo $total['title']; ?></b></td>
          <td class="text-right"><?php echo $total['text']; ?></td>
        </tr>
        <?php } ?>
      </tbody>
    </table>
    <?php if ($order['comment']) { ?>
    <table class="table table-bordered">
      <thead>
        <tr>
          <td><b><?php echo $column_comment; ?></b></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><?php echo $order['comment']; ?></td>
        </tr>
      </tbody>
    </table>
    <?php } ?>
  </div>
  <?php } ?>
</div>
</body>
</html>